
.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: beige;
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
}
.main-content{
  position: absolute;
  margin-left: 200px;


}

.cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 30px;
  padding: 15px;
  margin: 30px;
}
.card{
 
  background-color: #e0a919;;
  padding: 10px 10px 15px 10px;
  border-radius: 10px;
  color: beige;
  transition: 0.8s;
  text-align: center;
 
}
.cards a{
  text-decoration: none;
}

.card:hover{
  transform: scale(1.1);
  z-index: 1;
}

.card span{
  font-size: 23px;
  font-weight: 600;

}
/*table css  start here*/

.table-container {
  overflow-x: auto;
margin-top: 20px;
margin-left: 20px;
}

table {

  border-collapse: collapse;
  white-space: wrap; 
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
/*media query start here*/

@media (max-width: 769px){
  .dashboard-container{
    margin-top: 10px;
    width: 100%;
    height:100vh;
  }
  .main-content {
  height: 100vh;
  margin-top: 200px;
  margin-left: 0;
  width: 100%;

  } 
  .cards{
    grid-template-columns: repeat(3,1fr);
  margin: 15px;

  }
 
  .card:hover{
    transform: scale(1);
    z-index: 1;
  }
  .form-container{
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin: 70px 0 10px 15px ;
  }
  .table-container{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 485px){
  .main-content {
  height: 100px;

  margin-left: 0;
  width: 100%;
  } 
  .cards{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  .form-container{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    margin: 70px 0 10px 15px ;
  }
  input{
    width: 100%;
  };
}