.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e0a919;
  padding-top: 20px;
  color: beige;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-left: 2px;
}

.sidebar li {
  padding: 10px;
  text-align: center;
}
.sidebar li:hover{
  background-color: beige;
  border-radius: 10px 0 0 10px;
  color: #e0a919;
}
.sidebar button{
margin-right: 10px;
}

.sidebar a{
  text-decoration: none;
  color: beige;
}

@media (max-width: 768px) {
  .sidebar {
    width: 1200px;
    position: relative;
    margin-bottom: 10px;
    height: 200px;
  }
  .sidebar li:hover{
    background-color: #e0a919;
    color: beige;
    
  }
}
