.card-container {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    background-color: #f6f6f6;
  }
  
  .card {
    border: 1px solid #ccc;
    background-color: #e9eef0;
    border-radius: 8px;
    overflow: hidden;
    margin: 50px;
    width: 350px;
  }
  

  .card img {
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    height: 250px;
  }
  
  .card-row {
    padding: 10px;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 80%;
    }
  }
  