.card-container-land {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #f6f6f6;
  }
  
  .card-land {
    border: 1px solid #ccc;
    background-color: #e9eef0;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 350px;
  }
  

  .card-land img {
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    height: 250px;
  }
  
  .card-row-land {
    padding: 10px;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    .card-container-land {
      flex-direction: column;
      align-items: center;
    }
  
    
  }
  