/* ImageCarousel.css */

.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
  height: 700px;
}

.carousel-slide {
  margin-top: 120px;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-slide.active {
  display: block;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .carousel-container {
    max-width: 100%; /* Adjusted to take the full width */
    height: auto; /* Auto height based on content */
  }

  .carousel-slide {
    margin-top: 200px; /* No top margin on smaller screens */
  }
}
