.footer {
    display: flex;
    justify-content: space-around;
    background-color: #9f9c9c;
    color: #fff;
    padding: 20px;
  }
  
  .footer-column {
    text-align: center;
  }

  

  .footer-column a{
    text-decoration: none;
    color: #fff;

  }

  
  .footer-column h4 {
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .social-icons img{
    width: 25px;
    height: 25px;
  }
  .social-icon {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  @media screen and (max-width: 600px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-column {
      margin-bottom: 20px;
    }
  
    .social-icons {
      margin: 20px;
      flex-wrap: wrap;
    }
  }
  