.container-wrapper-land {
  
    align-items: center;
  }
  
  .container-land {
    width: 100%;
  }
  
  @media screen and (max-width: 600px) {
    .container-land {
        padding: auto;
        width: 100%;
    }
  }
  